* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  position: relative;
}
body {
  background-color: #615E5C;
  font: 14px/20px 'PT Sans', Arial, sans-serif;
  background: url(http://storinka.com.ua/wp-content/uploads/2014/12/78547_original.jpg);
}
.main {
  width: 800px;
  height: 100%;
  min-height: 300px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0 auto;
}
.main #messages-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: auto;
  height: 100%;
  border-top: solid 40px rgba(0, 0, 0, 0.5);
  border-bottom: solid transparent 150px;
}
.main #messages-container #messages {
  list-style-type: none;
  padding: 15px 30px 0 30px;
}
.main #messages-container #messages li {
  white-space: pre-wrap;
}
.main #messages-container #messages li.sys {
  font-size: 14px;
  padding: 4px 0px 5px;
  color: #c56131;
  font-style: oblique;
}
.main #messages-container #messages li.user {
  display: inline;
  color: #e8e3dd;
}
.main #messages-container #messages .history {
  padding-bottom: 10px;
}
.main #messages-container #messages .history li {
  color: #7b7471;
}
.main #message-form {
  position: relative;
  bottom: 150px;
  display: block;
}
.main #message-form #message-input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  border: none;
  border-top: solid 10px rgba(0, 0, 0, 0.5);
  height: 150px;
  resize: none;
  font: 14px/20px 'PT Sans', Arial, sans-serif;
  color: #e8e3dd;
  background-color: transparent;
  width: 100%;
  padding: 15px 20px 10px 20px;
  font-size: 16px;
  outline: none;
}
.main #status-container {
  position: absolute;
  left: 14px;
  top: 11px;
  font-size: 18px;
  color: #ff874c;
  text-shadow: 0px 0px 10px #944a27;
}
.main #status-container .status {
  font-weight: bold;
}
.right-panel {
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
  border-left: 2px solid #333;
  overflow-y: scroll;
  height: 100%;
}
.right-panel .history {
  white-space: pre-wrap;
}
/*# sourceMappingURL=public/css/style.css.map */